.aboutC{
    margin-left: 200px;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutbox{
   display: flex;
   width: 100%;
   
}
.aboutbox img{
    margin: 10px 0;
    width: 45vw;
}
.infotext{
    margin: 20px 15px; 
   
}
.infotext h1{
  margin: 55px 0px;
}


.para{
    font: 20px;
    text-align: center;   
}


.ourMotoBox{
   padding: 0 35px; 
}
.ourMotoBox img{
    width: 250px;
}
.aboutOurVisioners {
    margin:50px;

}
.visionersBox{
    border-radius: 18px;
    width: 60vw;
  padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
   margin: 60px 40px;
    transition: all linear 0.6s;
}
.visionersImgBox{
   width:220px;
   height: 160px; 
}
.visionersImgBox img{
    border-radius: 12px;
    width: 90%;
object-fit: cover;
 
}
.visionersRightImgMobileView{
    display: none;
}
.visionersTextBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.visionersBox:hover {
    border-radius: 15px;
   width: 63vw;
   background-color:rgba(218, 223, 225,0.8);
   transition:all linear 0.2s ease-in-out;
   transform: translateX(-20px);
}