*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html,body{
  width: 100%;
  /* background-color: red; */
  height: max-content;
} 

 
.containerM{
width: 100%;

  display: flex;
  position: relative;
} 

.containerM::before{
  content: "";
  width: 100%;
height: 100%;

  background-color: rgba(218, 223, 225,0.4);
  position: fixed;
  transform: skewY(-25deg);
  top: -50%;
  z-index:-100 ;
}





/* position: relative;
 z-index: -; */
 /* background-color: black;  */
 /* background-image: linear-gradient( #3e3a3a, #333); */